# Ignore vim netrw history
.vim/.netrwhist
# Ignore vim views
.vim/view

# Ignore matplotlib's font cache
.matplotlib/fontList*

# Ignore Scripts folder
Scripts/

# Ignore folder with sensitive data
.sensitive
# and symlinks to it
.csshcluster
.gitconfig
.gnupg
.irssi/config
.netrc
.ssh
.synergy.conf
