[user]
    name = Real Name
    email = real.name@example.com

[github]
    user = githubusername
    token = githubtoken

[core]
    editor = vim
    excludesfile = ~/.dotfiles/.gitignore.global
    pager = diff-so-fancy | less --tabs=4 -RFX

[color]
    ui = auto

[color "diff"]
    meta = white                # metainformation
    frag = cyan                 # line number in hunk header
    func = white                # function name in hunk header
    plain = white               # context text
    new = green                 # added lines
    old = red                   # removed lines
    commit = yellow             # commit headers
    whitespace = red reverse    # whitespace errors

[color "status"]
    added = green
    changed = red
    untracked = yellow

[color "grep"]
    filename = yellow

[diff]
    tool = vimdiff
    compactionHeuristic = true
    colorMoved = default

[difftool]
    prompt = true

[diff-so-fancy]
    # Disable green marker at the beginning of new empty lines
	markEmptyLines = false

[merge]
    tool = vimdiff

[instaweb]
    httpd = webrick
    port = 1234

[interactive]
	singlekey = true

[push]
    default = simple

[pull]
    # Only pull if fast-forward is possible. Use `git pull --rebase` or `git pull --no-ff` otherwise.
    ff = only

[alias]
    co = checkout
    st = status
    # prettier log (limited to 10 commits)
    logg = !git --no-pager log --pretty=tformat:'%Creset (%ar) - %Cred %an: %Cgreen %s %Creset' --graph -n 10
    # prettier log (limited to 10 commits, showing hash)
    loggh = !git --no-pager log --pretty=tformat:'%C(yellow) %H %Creset (%ar) - %Cred %an: %Cgreen %s %Creset' --graph -n 10
    # prettier log (showing all commits)
    logga = log --pretty=format:'%Creset (%ar) - %Cred %an: %Cgreen %s' --graph
    # prettier log (showing all commits, showing hash)
    loggha = log --pretty=format:'%C(yellow) %H %Creset (%ar) - %Cred %an: %Cgreen %s' --graph
    loggah = log --pretty=format:'%C(yellow) %H %Creset (%ar) - %Cred %an: %Cgreen %s' --graph
    # diff and show based on words instead of lines
    diffw = diff --color-words
    showw = show --color-words
