# Ignore Mac .DS_Store files
.DS_Store

# Ignore vim swp files and backups
*.sw?
*~

# Ignore vim netrw history
.vim/.netrwhist
# Ignore vim views
.vim/view

# Ignore matplotlib's font cache
.matplotlib/fontList.cache

# Ignore Scripts folder
Scripts/

# Ignore folder with sensitive data
.sensitive
# and symlinks to it
.bazaar/authentication.conf
.bazaar/bazaar.conf
.csshcluster
.gitconfig
.gnupg
.irssi/config
.netrc
.shrc2
.ssh
.synergy.conf
